#returnNull, #outputStyling, #E, #P, #I, #C, #O, #D, #U, #S, #head, #body, #armOne, #loss, #armTwo, #legOne, #legTwo, #winner {
  display: none;
}

body {
  background-color: #f4d06b;
}

.jumbotron, #rules {
  background-color: #f2834f;
}

#outputStyling {
  background-color: #4ba36a;
}

#game {
  background-color: #ffbb68;
  border: solid #875315;
}

#loss {
  color: red;
}

#winner {
  color: green;
}
